{
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "plugin:@typescript-eslint/stylistic-type-checked",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "@react-native"
  ],
  "ignorePatterns": ["build"],
  "parserOptions": {
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports,
    "project": "tsconfig.json"
  },
  "plugins": ["no-comments"],
  "rules": {
    // ESLint rules
    "no-async-promise-executor": "warn",
    "no-irregular-whitespace": "warn",

    // React rules
    "react/react-in-jsx-scope": "warn",
    "react/prop-types": "off",

    // Jest rules
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "no-comments/disallowComments": [
      "error",
      {
          "allow": ["TODO", "FIXME", "NOTE", "DEBUG", "!"]
      }
    ],

    // Prettier
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "root": true,
  "overrides": [
    {
      "files": ["src/__tests__/**", "src/**/*.test.js", "src/**/*.test.jsx", "src/**/*.test.ts", "src/**/*.test.tsx"],
      "plugins": ["jest"],
      "env": {
        "jest/globals": true
      },
      "extends": ["plugin:jest/recommended", "plugin:jest/style"]
    },
    {
      "files": ["src/hooks/**/*.hook.ts"],
      "rules": {
        "react-hooks/rules-of-hooks": "off"
      }
    }
  ]
}
